local_settings.py
.#*
*~
*#
*.pyc
*.pyo
build/
dist/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
src/*
lib
lib64
/env
at_dump
migration_seed.json
site_media/
log/
logs/
*.sqlite