{% load crispy_forms_tags %}
{% load comments %}
{% load fancyauth %}
{% load error_tags %}

  <div class="issue-comment-list">
    {% render_comment_list for error %}
  </div>
  {% if user.is_authenticated %}
  <div class="issue-comment-response">
  </div>
  {% get_comment_form for error as comment_form %}
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {% crispy comment_form %}
  </form>

  <script type="text/javascript">
    var options_error_{{ error.pk }} = {
      success: function(response_text, status_text, xhr, form_elem) {
        // reload comments
        $.ajax({
          type: "POST",
          url: "{% url render_error_comment_block error.pk %}",
          success: function(msg){
             console.log(msg);
             $('#error-{{ error.pk }}').html(msg.comments);
             comment_str = " " + msg.comment_count + " comments";
             console.log(comment_str);
             $('#comment-count-{{ error.pk }}').html(comment_str);
          }
        });
        //$('#error-{{ error.pk }}').load("{% url render_error_comment_block error.pk %}" , function(response_text, textStatus, XMLHttpRequest) {
          // fill span with response
          //$('#error-{{ error.pk }} .error-comment-response').html(response_text);
          // rebind form
          //$('#error-{{ error.pk }} form').ajaxForm(options_error_{{ error.pk }});
        //});
      }
    };

    $(function() {
      $('#error-{{ error.pk }} form').ajaxForm(options_error_{{ error.pk }});
    });

    $('#error-collapse-{{ error.pk }}').on('show', function () {
      console.log('something');
      $('#error-collapse-toggle-{{ error.pk }}').html('[-]');
    });

    $('#error-collapse-{{ error.pk }}').on('hide', function () {
      $('#error-collapse-toggle-{{ error.pk }}').html('[+]');
    });
  </script>

  {% else %}
  <p>Please {% render_login_modal_link "log in" %} to leave a comment.</p>
  {% endif %}
