{% load crispy_forms_tags %}
{% load comments %}
{% load fancyauth %}

  <div class="issue-comment-list">
    {% render_comment_list for issue %}
  </div>
  {% if user.is_authenticated %}
  <div class="issue-comment-response">
  </div>
  {% get_comment_form for issue as comment_form %}
  <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {% crispy comment_form %}
  </form>

  <script type="text/javascript">
    var options_issue_{{ issue.pk }} = {
      success: function(response_text, status_text, xhr, form_elem) {
        // reload comments
        $.ajax({
          type: "POST",
          url: "{% url render_issue_comment_block issue.pk %}",
          success: function(msg){
             console.log(msg);
             $('#issue-{{ issue.pk }}').html(msg.comments);
             comment_str = " " + msg.comment_count + " comments";
             console.log(comment_str);
             $('#comment-count-{{ issue.pk }}').html(comment_str);
          }
        });
        //$('#issue-{{ issue.pk }}').load("{% url render_issue_comment_block issue.pk %}" , function(response_text, textStatus, XMLHttpRequest) {
          // fill span with response
          //$('#issue-{{ issue.pk }} .issue-comment-response').html(response_text);
          // rebind form
          //$('#issue-{{ issue.pk }} form').ajaxForm(options_issue_{{ issue.pk }});
        //});
      }
    };

    $(function() {
      $('#issue-{{ issue.pk }} form').ajaxForm(options_issue_{{ issue.pk }});
    });

    $('#issue-collapse-{{ issue.pk }}').on('show', function () {
      console.log('something');
      $('#issue-collapse-toggle-{{ issue.pk }}').html('[-]');
    });

    $('#issue-collapse-{{ issue.pk }}').on('hide', function () {
      $('#issue-collapse-toggle-{{ issue.pk }}').html('[+]');
    });
  </script>

  {% else %}
  <p>Please {% render_login_modal_link "log in" %} to leave a comment.</p>
  {% endif %}
