{% load ajax_comments %}
{% load ajax_issues %}
{% load comments %}
{% load grid %}

{% get_comment_count for issue as comment_count %}

<div class="issue rounded-box-card-inner">
  <div id="issue-status-icon-{{ issue.pk }}" class="issue-status-{{ issue.current_status.status }} issue-status-icon rounded-box-cell-left" href="javascript:void(0)"></div>
  <div class="issue-text rounded-box-cell-right">
  <div class="issue-description">
    <span class="label label-{{ issue.category.name|sanitize_class_name }} issue-category">{{ issue.category }}</span>
    <span class="issue-author">{{ issue.submitter.username }}</span>
    <span class="issue-description-spaced">{{ issue.description }}</span>
    <script type="text/javascript">
      //  should this be on document ready?
      //$(document).ready(function(){
      //  $('#issue-status-icon-{{ issue.pk }}').html('lalala');
      //});
      var icon{{ issue.pk }} = $('#issue-status-icon-{{ issue.pk }}');
      icon{{ issue.pk }}.html('');
    </script>
  </div>
  <div class="comment-control">
    <span class="accordion-toggle" data-toggle="collapse" data-parent="#issue-accordion-{{ issue.pk }}" href="#issue-collapse-{{ issue.pk }}"> 
      <a id="issue-collapse-toggle-{{ issue.pk}}" class="center monospace">[+]</a>
      <span id="comment-count-{{ issue.pk }}" class="greyed"> {{ comment_count }} comments</span>
    </span>
  </div>
  <div id="issue-status-control-{{ issue.pk }}" class="issue-status-control">
      {% render_issue_status_control issue %}
  </div>
  <div class="clear"></div>
  <div id="issue-collapse-{{ issue.pk }}" class="collapse bar-side">
    {% render_comment_block issue %}
  </div>

  <script type="text/javascript">
      $('#issue-status-wont-fix-{{ issue.pk }}').on('click', function(){
        if (icon{{ issue.pk }}.hasClass('issue-status-3')){
          var postData = {
            issue_pk: {{ issue.pk }},
            status: 1
          };
          $.ajax({
            url: "{% url toggle_issue_status %}",
            type: 'POST',
            datatype: "application/json; charset=utf-8",
            data: postData
          }).done(function (returnedData){
            var valid_statuses = [1,2,3];
            console.log(valid_statuses.indexOf(returnedData['status']));
            if (valid_statuses.indexOf(returnedData['status']) >= 0){
              console.log("valid status");
              for (i in valid_statuses){
                console.log('issue-status-' + valid_statuses[i]);
                icon{{ issue.pk }}.removeClass('issue-status-' + valid_statuses[i]);
              }
              icon{{ issue.pk }}.addClass('issue-status-' + returnedData.status);
              $('#issue-status-wont-fix-{{ issue.pk }}').removeClass('bolded');
            }
          }).error(function (errorMsg) {
            console.log("error!");
            console.log("errorMsg");
          });
        } else {
          var postData = {
            issue_pk: {{ issue.pk }},
            status: 3
          };
          $.ajax({
            url: "{% url toggle_issue_status %}",
            type: 'POST',
            datatype: "application/json; charset=utf-8",
            data: postData
          }).done(function (returnedData){
            var valid_statuses = [1,2,3];
            console.log(valid_statuses.indexOf(returnedData['status']));
            if (valid_statuses.indexOf(returnedData['status']) >= 0){
              console.log("valid status");
              for (i in valid_statuses){
                console.log('issue-status-' + valid_statuses[i]);
                icon{{ issue.pk }}.removeClass('issue-status-' + valid_statuses[i]);
              }
              icon{{ issue.pk }}.addClass('issue-status-' + returnedData.status);
              $('#issue-status-wont-fix-{{ issue.pk }}').addClass('bolded');
            }
          }).error(function (errorMsg) {
            console.log("error!");
            console.log("errorMsg");
          });
        }
      });
  </script>
  
  </div>
  <div class="clear"></div>
</div>

