{% load ajax_comments %}

<div class="issue well">
  <div class="issue-description">
    <span id="issue-status-icon-{{ issue.pk }}" class="issue-status-{{ issue.current_status.status }} lalala">It's 2012 for god's sake, turn on Javascript.</span>
    <span>{{ issue.category }}: {{ issue.description }}</span>
    <script type="text/javascript">
      //  should this be on document ready?
      //$(document).ready(function(){
      //  $('#issue-status-icon-{{ issue.pk }}').html('lalala');
      //});
      var icon{{ issue.pk }} = $('#issue-status-icon-{{ issue.pk }}');
      icon{{ issue.pk }}.html('O');
      icon{{ issue.pk }}.live("click", function(){
        // unresolved case
        if (icon{{ issue.pk }}.hasClass('issue-status-1')){
          var postData = {
            'issue_pk': {{ issue.pk }},
            'status': 0
          };
          $.ajax({
            url: "{% url toggle_issue_status %}",
            type: 'POST',
            datatype: "application/json; charset=utf-8",
            data: postData
          }).done(function (returnedData){
            var valid_statuses = [0,1];
            console.log(valid_statuses.indexOf(returnedData['status']));
            if (valid_statuses.indexOf(returnedData['status']) >= 0){
              console.log("valid status");
              icon{{ issue.pk }}.removeClass('issue-status-1').addClass('issue-status-' + returnedData.status);
            }
            console.log(returnedData.status);
          }).error(function (errorMsg) {
            console.log(errorMsg);
          });
      // resolved case
        }else if(icon{{ issue.pk }}.hasClass('issue-status-0')){
          var postData = {
            'issue_pk': {{ issue.pk }},
            'status': 1
          };
          $.ajax({
            url: "{% url toggle_issue_status %}",
            type: 'POST',
            datatype: "application/json; charset=utf-8",
            data: postData
          }).done(function (returnedData){
            var valid_statuses = [0,1];
            console.log(valid_statuses.indexOf(returnedData['status']));
            if (valid_statuses.indexOf(returnedData['status']) >= 0){
              console.log("valid status");
              icon{{ issue.pk }}.removeClass('issue-status-0').addClass('issue-status-' + returnedData.status);
            }
            console.log(returnedData.status);
          }).error(function (errorMsg) {
            console.log("error!");
            console.log("errorMsg");
          });
        }
      });
        
    </script>
      
  </div>
  {% render_comment_block issue %}
</div>

