.article-detail-summary {
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #EFEFEF;
    border-radius: 6px;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    margin-left: 0px;
}

.article-detail-issues {
    padding-top: 20px;
}

.article-state-control {
    margin-top: 20px;
    //background-color: pink;
}

.article-state-control {
    //float: right;
}

.article-state-control button {
    float: right;
    margin: 10px 10px 10px 5px; 
    padding: 0px;
    font-size: 1.2em;
    height: 44px;
    width: 160px;
}

.article-state-control .rounded-box-card-inner {
    background-color: #EFEFEF;
}

.label-XML {
    background-color: #08C;
}

.label-PDF {
    background-color: #B94A48;
}

.label-XMLPDF {
    background-color: #61329C; 
}

.label-SI {
    background-color: #999; 
}