.article-detail-summary {
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #EFEFEF;
    border-radius: 6px;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    margin-left: 0px;
}

.blue-background {
    background-color: #EFEFEF;
}

.margined-top {
    margin-top: 20px;
}

.article-detail-issues {
    padding-top: 20px;
}

.article-state-control {
    margin-top: 20px;
    //background-color: pink;
}

.article-state-control {
    //float: right;
}

.article-state-control button {
    float: right;
    margin: 10px 10px 10px 5px; 
    padding: 0px;
    font-size: 1.2em;
    height: 44px;
    width: 160px;
}

.article-state-control .rounded-box-card-inner {
    background-color: #EFEFEF;
}

.label-XML {
    background-color: #08C;
}

.label-PDF {
    background-color: #B94A48;
}

.label-XMLPDF {
    background-color: #61329C; 
}

.label-SI {
    background-color: #999; 
}

.upload-form label{
    display: none;
}

.upload-form div{
    float: left;
}

.upload-form form{
    float: left;
}

.upload-form {
    float: left;
}

.article-state-control .rounded-box-card-inner{
    height: 64px;
}

.rounded-box-list{
    margin-bottom: 0px;
}

.file-upload-description {
    margin-bottom: 10px;
}

.file-upload-description h4{
    display: inline;
}

.file-upload-description p{
    display: inline;
    margin-bottom: 8px;
}

.file-upload-panel h4{
    display: inline;
}

.align-right {
    float: right;
}

.error-filter-form {
    margin: 3 0 0 5;
}

.error-filter-form .control-label{
    display: none;
}

.error-filter-form .controls{
    margin: 6 0 0 0;
}

.error-filter-form .controls .checkbox{
    margin-right: 10px;
    height: 20px;
    padding: 0px;
}

.error-filter-form .controls .checkbox input{
    margin: 2 2 0 0;
}

.error-filter-form .control-group{
    float: left;
}

#submit-id-filter{
    //float: right;
}

.errorset-holder .progress{
    margin: 15 35 15 35;
}

.btn-smallish{
    height: 24px;
    margin-left: 10px;
    line-height: 24px;
    padding: 0px 5px 0px 5px;
}

.hidden {
    visibility: hidden;
}

.gone {
    display: none;
}

.correction-upload form {
   float: none;
   display: inline;
}

.correction-upload form div{
   float: none;
   display: inline;
}

.correction-upload form .btn{
    height: 24px;
    line-height: 24px;
    padding: 0px 5px 0px 5px;
}

.upload-action-panel .btn{
  margin-left: 0px; !important
}

.upload-action-panel {
    width: 600px;
}

.ingest-output {
    background-color: #fff;
}


.status-success {
    color: #51a351;
}

.status-failure {
    color: #d9534f;
}
