.search-accordion a {
    padding-left: 10px;
    font-family: monospace;
}

.order-arrows {
    float: right;
    display: inline;
}

.order-arrow-inactive {
    display: none;
}

.table th {
    vertical-align: middle;
}

.grid-header {
    min-width: 105px;
}

.order-arrow-active {
    color: #333;
} 