{% load crispy_forms_tags %}
{% load comments %}
{% load fancyauth %}

<div class="article-note-list">
  {% render_comment_list for article %}
</div>
{% if user.is_authenticated %}
<span data-toggle="collapse" data-target="#article-note-form">
  <a id="article-note-collapse-toggle" class="center monospace">[+]</a>
  <a>Add a note</a>
</span>
<div class="collapse" id="article-note-form">

<div class="article-note-response">
</div>
{% get_comment_form for article as note_form %}
<form action="{% comment_form_target %}" method="POST">
  {% csrf_token %}
  {% crispy note_form %}
</form>

<script type="text/javascript">
  var options_article_note_{{ article.pk }} = {
      success: function(response_text, status_text, xhr, form_elem) {
          // reload comments
          $('#article-note-{{ article.pk }}').load("{% url render_article_note_block article.pk %}" , function(responseText, textStatus, XMLHttpRequest) {
          // rebind form
          $('#article-note-{{ article.pk }} form').ajaxForm(options_article_note_{{ article.pk }});
          });
      }
  };

  $(function() {
      $('#article-note-{{ article.pk }} form').ajaxForm(options_article_note_{{ article.pk }});
  });
</script>

</div>
{% else %}
<p>Please {% render_login_modal_link "log in" %} to leave a comment.</p>
{% endif %}
