<div class="modal hide fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Login</h3>
  </div>
  <div class="modal-body" id="login-form">
    <div class="login-response">
    </div>
    <div class="login-form-wrapper">
      <script type='text/javascript'>
	$('#login-form .login-form-wrapper').load('{% url ajax_login %}')
     </script>
    </div>
</div>
