.issue-status-icon {
    background-size: 60px 60px;
    background-repeat:no-repeat;
    //background-color: pink;
    color: red;
    height: 60px;
    width: 60px;
    //float: left:
    display: inline;
    vertical-align: top;
}

.issue-status-1 {
    background-image:url('/static/issues/img/open_issue.png');
}

.issue-status-2 {
    background-image:url('/static/issues/img/closed_issue.png');
}

.issue-status-3 {
    background-image:url('/static/issues/img/wont_fix_issue.png');
}

.issue-text {
    //float: left;
    display: inline;
}

.issue {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: white;
    margin-bottom: 0px;
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.accordion-toggle {
    //background-color: green;
}

.greyed {
    color: #858585;
    font-weight: bold;
}

.bolded {
    color: #000;
}

.center {
    text-align: center;
}

.bar-side {
    padding-left: 10px;
    border-left: 3px solid;
    margin-left: 11px;

    margin-top: 5px;
    padding-top: 0px;
    margin-bottom: 5px;
}

#comments{
    //background-color: pink;
    margin: 0px;
}

.monospace{
    font-family: monospace;
}

.horizontal-list-spaced{
    padding-left: 10px;
}

.issue-description-spaced {
    padding-left: 7px;
    //float: left;
}

.issue-description {
    max-width: 500px;
    //padding-left: 50px;
}

#issue-form-wrapper {
    clear: left;
    padding-left: 10px;
}

select.issue-category {
    width: 30%;
    display: inline;
}

textarea.issue-textarea {
    width: 70%;
}

.form-horizontal-compact .control-group {
    //float: left;
    //padding-left: 10px;
}

.form-horizontal-compact input {
    //float: right;
}

.asteriskField {
    display: none;
}

.rounded-box-list {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 6px;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
}

.rounded-box-header-inner {
    padding: 10px;
}

.rounded-box-header {
    padding: 0px;
    margin: 0px;
}

.rounded-box-card-inner {
    padding: 4px 10px 4px 10px;
}
