{% extends "articleflow/article_detail_base.html" %}

{% load comments %}
{% load ajax_article_notes %}
{% load ajax_comments %}
{% load ajax_issues %}
{% load error_tags %}
{% load transitions %}

{% block head %}
<link href="{{ STATIC_URL }}css/articleflow.css" rel="stylesheet">
{% endblock %}

{% block detail_nav %}
{% include "articleflow/includes/detail_nav.html" with active_tab='detail_main' %}
{% endblock %}

{% block sub_title %} - {{ article.doi }}{% endblock %}

{% block sub_header %}Main{% endblock %}

{% block article_detail_content %}

<div class="row article-detail-summary">
  <div class="span6">
      <table>
	<tr>
	  <td>Pubdate</td>
	  <td>{{ article.pubdate }}</td>
	</tr>
	<tr>
	  <td>Current state: </td>
	  <td>{{ article.current_articlestate.state.name }}</td>
	</tr>
      </table>
  </div>
  <div class="span5">
      <h4>Notes</h4>
      {% render_article_note_block article user %}
  </div>
</div>

<div class="row article-detail-issues">
  <div class="span6">
    {% render_issues article %}
  </div>
  <div class="span6">
    {% render_latest_errors article %}
  </div>
</div>

{% if user.is_authenticated %}

<div class="row">
  <div class="span12">
    <div class="clear"></div>
    <div>
      {% render_article_state_control article user %}
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
