{% extends "articleflow/article_detail_base.html" %}

{% load comments %}

{% block detail_nav %}
{% include "articleflow/includes/detail_nav.html" with active_tab='detail_issues' %}
{% endblock %}

{% block sub_title %} - {{ article.doi }} - Issues{% endblock %}

{% block sub_header %}Issues{% endblock %}

{% block article_detail_content %}
{% for issue in issues %}
<div class="issue well">
  <div class="issue-description">
    <p>{{ issue.category }}: {{ issue.description }}<p>
  </div>
  <div class="issue-comments">
    {% render_comment_list for issue %}
    {% if user.is_authenticated %}
      {% get_comment_form for issue as comment_form %}
      <form action="{% comment_form_target %}" method="POST">
	{% csrf_token %}
	<div>{{ comment_form.comment }}</div>
	{{ comment_form.content_type }}
	{{ comment_form.object_pk }}
	{{ comment_form.timestamp }}
	{{ comment_form.security_hash }}
	<div><input type="submit" value="Add comment" id="id_submit" /></div>
      </form>
    {% else %}
      <p>Please <a href="#">log in</a> to leave a comment.</p>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}
