{% extends "base.html" %}

{% block sub_title %} - Autoassign States{% endblock %}

{% block content %}
<h2>Autoassign States</h2>

<table class="table">
  <thead>
    <tr>
      <th>
	State
      </th>
      <th>
	Worker Groups
      </th>
    </tr>
  </thead>
  <tbody>
    {% for state in assignment_states %}
    <tr>
      <td>
	<a href='{% url assign_weight_detail state.pk %}'>{{ state.name }}</a>
      </td>
      <td>
	{% for g in state.worker_groups.all %}
	{{ g.name }}{% if not forloop.last %}, {% endif %}
	{% endfor %}
      </td>
    </tr>
  </tbody>
</table>
{% endfor %}
{% endblock %}
