{% load crispy_forms_tags %}

<div class='corrections-control-panel'>
  <table class="table">
    <thead>
      <tr>
	<th>File Location</th>
	<th>File</th>
	<th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Ingestible</td>
	<td>
	  {% if ingestible_exists %}
	  <a href="{% url corrections_file article.doi%}?source=ingestible">{{ article.doi }}.zip<i class="icon-download-alt"></i></a>
	  {% else %}
	  -
	  {% endif %}
	</td>
	<td class="upload-action-panel">
	  {% if ingestible_exists %}
	  <span class="correction-upload-toggle-hide">
	    <button id='ingest-button' class="btn btn-success btn-smallish" title="Attempt to prepare and ingest the ingestible article">Ingest</button>
	    <span>or</span>
	    <btn title="Upload a file to replace what's currently in Ingestible." class="btn btn-primary correction-upload-toggle btn-smallish">upload a new file</btn>
	  </span>
	  {% else %}
	  <span class="correction-upload-toggle-hide">
	    <btn title="Upload a file to Ingestible" class="btn btn-primary correction-upload-toggle btn-smallish">upload a file</btn>
	  </span>
	  {% endif %}
	  <span class="correction-upload hidden">
	    {% crispy form %}
	  </span>
	  <script>
	    $('.correction-upload-toggle').click(function(){
	      console.log('clicky');
	      $('.correction-upload').removeClass('hidden');
	      $('.correction-upload-toggle-hide').addClass('gone');
	    });

	    $('#ingest-button').click(function(){
	      console.log('ingesting');
	      $('.corrections-control-panel').append('<div class="ingest-output"><div class="output-head"><h5>Ingestion Results:</h5></div><div class="output-body"><span>Ingest in progress, this may take a few minutes...</span><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div>');
	      $('.upload-action-panel').html('');
	      $.post("{% url corrections_control article.doi %}", function(data){
	         $('#article-errors-wrapper').load('{% url render_latest_errorset article.doi %}');
	         console.log(data);
	         var output = $('.output-body');
	         output.html("<div><span>Status: </span><span class='status-" + data['status'] + "'>" + data['status']+ "</span></div>");
	         if (data['messages']){
	           output.append("<div>Output:<pre>" + data['messages'] + "</pre></div>");
                 }
              })
	      .fail(function(){
	        var output = $('.output-body');
	        output.html("<div><p><span class='status-failure'>System Failure: </span><span>Sorry, something went terribly wrong!</span></p><p>Jack the administrator should have been automatically notified but feel free to bug him anyway at <a href='mailto:jlabarba@plos.org'>jlabarba@plos.org</a> (email and gchat).</p>");
		  });
	    });
	  </script>
	</td>
      </tr>
      <tr>
	<td>Ingested</td>
	<td>
	  {% if ingested_exists %}
	  <a href="{% url corrections_file article.doi%}?source=ingested">{{ article.doi }}.zip<i class="icon-download-alt"></i></a>
	  {% else %}
	    -
	  {% endif %}
	</td>
	<td>
	</td>
      </tr>
    </tbody>
  </table>
</div>
  
