{% extends "base.html" %}    

{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/grid.js"></script>
{% endblock %}

{% block main_nav %}
{% include "includes/main_nav.html" with active_tab="grid" %}
{% endblock %}

{% block sub_title %} - grid{% endblock %}

{% block content %}
<h2>Article Grid</h2>

<div class="row">
  <div class="span12 search-accordion">
    <a id="search-collapse-toggle" data-toggle="collapse" data-target="#search-panel">[+] search</a>
    <div class="collapse" id="search-panel">
      <form class="form form-horizontal" action="" method="get">
	{{ article_list.form|crispy }}
	<div class="control-group">
	  <div class="controls">
	    <input type="submit" name="submit" value="Search">
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>PubDate</th>
      <th>DOI</th>
      <th>Journal</th>
      <th>Issues</th>
      <th>Notes</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for article in article_list %}
    <tr>
      <td>{{ article.pubdate }}</td>
      <td><a href="/detail/{{article.doi}}">{{ article.doi }}</a></td>
      <td>{{ article.journal.short_name }}</td>
      <td>fake_1, fake_2, fake_3</td>
      <td>fake_1, fake_2, fake_3</td>
      <td>{{ article.current_articlestate.state.name }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock %}
