{% extends "base.html" %}    

{% load crispy_forms_tags %}
{% load grid %}
{% load assignment %}

{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/grid.js"></script>
{% endblock %}

{% block main_nav %}
{% include "includes/main_nav.html" with active_tab="grid" %}
{% endblock %}

{% block sub_title %} - grid{% endblock %}

{% block content %}
<h2>Article Grid</h2>

<div class="row">
  {% render_grid_search %}
</div>

<span>Showing results {{ pagination.start_index }} - {{ pagination.end_index }} out of {{ total_articles }}
{% if previous_page_qs or next_page_qs %}
|
{% endif %}
</span>

{% if previous_page_qs %}
<a href="?{{ previous_page_qs }}">previous</a>
{% endif %}

{% if next_page_qs %}
<a href="?{{ next_page_qs }}">next</a>
{% endif %}

<table class='table table-hover'>
  <thead>
    <tr>
      {% for col in requested_cols %}
      <th class="grid-header">
	{{ col }}
	{% render_ordering_arrows col base_qs%}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for article in article_list %}
    <tr>
      {% for col in requested_cols %}
      <td>
	{% if col == "DOI" %}
	  <a href="{% url detail_main article.doi %}">{{ article.doi }}</a>
	{% elif col == "Journal" %}
	  {{ article.journal.short_name }}
	{% elif col == "PubDate" %}
	  {{ article.pubdate }}
	{% elif col == "Issues" %}
	  {% if article.article_extras.num_issues_xml %}
	    <span href="#" rel="tooltip" title="XML issues: {{ article.article_extras.num_issues_xml }}" class="label label-XML">{{ article.article_extras.num_issues_xml }}</span>
	  {% endif %}
	  {% if article.article_extras.num_issues_pdf %}
	    <span href="#" rel="tooltip" title="PDF issues: {{ article.article_extras.num_issues_pdf }}" class="label label-PDF">{{ article.article_extras.num_issues_pdf }}</span>
	  {% endif %}
	  {% if article.article_extras.num_issues_xmlpdf %}
	    <span href="#" rel="tooltip" title="XML+PDF issues: {{ article.article_extras.num_issues_xmlpdf }}" class="label label-XMLPDF">{{ article.article_extras.num_issues_xmlpdf }}</span>
	  {% endif %}
	  {% if article.article_extras.num_issues_si %}
	    <span href="#" rel="tooltip" title="SI issues: {{ article.article_extras.num_issues_si }}" class="label label-SI">{{ article.article_extras.num_issues_si }}</span>
	  {% endif %}  
	  {% if article.article_extras.num_issues_legacy %}
	    <span href="#" rel="tooltip" title="Legacy issues: {{ article.article_extras.num_issues_legacy }}" class="label label-Legacy">{{ article.article_extras.num_issues_legacy }}</span>
	  {% endif %}  
	{% elif col == "Errors" %}
	    {% if article.article_extras.num_errors %}
	    <span class="label">Errors: {{ article.article_extras.num_errors }}</span>
	    {% endif %}
	    {% if article.article_extras.num_warnings %}
	    <span class="label">Warnings: {{ article.article_extras.num_warnings }}</span>
	    {% endif %}
	{% elif col == "State" %}
	    {{ article.current_state.name }}
	{% elif col == "State Started" %}
	    {{ article.current_articlestate.created }}
	{% elif col == "Assigned" %}
	    {% if article.current_articlestate.assignee.username %}
	    {{ article.current_articlestate.assignee.username }}
	    {% elif user.is_authenticated %}
	    {% render_assign_to_me_button article user %}
	    {% endif %}
	{% elif col == "Typesetter" %}
	    {{ article.typesetter.name }}
    {% elif col == "Article Type" %}
	    {{ article.article_type.name }}
	{% else %}
	  {{ value }}
	{% endif %}
	
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<span>Showing results {{ pagination.start_index }} - {{ pagination.end_index }} out of {{ total_articles }}
{% if previous_page_qs or next_page_qs %}
|
{% endif %}
</span>

 </span>
{% if previous_page_qs %}
<a href="?{{ previous_page_qs }}">previous</a>
{% endif %}

{% if next_page_qs %}
<a href="?{{ next_page_qs }}">next</a>
{% endif %}

{{ querystring }}
{% endblock %}
