{% load transitions %}

<div class="rounded-box-list article-state-control">
  <div class="rounded-box-header-inner">
    <h4 class="rounded-box-header">Change Article State</h4>
  </div>
  
  <div class="rounded-box-card-inner">
    <div class="">
      {% for transition in transitions %}
      <button id="state-transition-{{ transition.pk }}" class="btn {{ transition.preference_weight|buttonclass }}">{{ transition.name }}</button>
      
      <script type="text/javascript">
	$('#state-transition-{{ transition.pk }}').on("click", function(){switch_article_state_ajax({{ article.pk }}, {{ transition.pk }}, 'state-error-board', '{% url detail_transition article.doi %}')});
      </script>
      {% endfor %}
    </div>
    <div class="clear"></div>
  </div>
</div>
